# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# C extensions
*.so

/logs
*.ipynb
tst.*
# Virtual environment directories
venv/
.env/
env/
.venv/


# Large data files
*.csv
*.xlsx

# Dependencies
node_modules/
**/node_modules/
.pnp
.pnp.js

# Build outputs
/build/
/dist/
/.next/
/out/


# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
.hypothesis/

# Pytest cache
.pytest_cache/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# VSCode settings

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# MacOS
.DS_Store

# System files
Thumbs.db
